@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    
}
body{
    font-family: 'Lucida Sans Unicode';
    background-color: rgb(0, 0, 0);
}


.info {
    color: white;
    font:1em/1 sans-serif;
    text-align: center;
    
  }
  
  .info a{
    color: white;
  }
  
  svg{
    width: 600px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden; 
    margin: 0 auto;
    background: rgb(5, 5, 6);
    left: 120px;

  }

header {
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 26, 26);
    background-size: cover;

    display: flex; /* Ajout de flexbox */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
}
h1{
    color: white;
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    
}

/*la div de la navbar*/
.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    
}
/*tout en blanc */
.navbar a{
    color: white;
    }

.navbar .logo{
    font-size: 3em;
    font-weight: bold;

}


/*position de la nav bar avec la liste + animation des liens*/
.navbar .nav-links ul{
    display: flex;
    font-size: 2em;
}

.navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.5em;
    transition: transform 1s ease, color 0.3s ease;
}

.navbar .nav-links ul li:hover {
    transform: translateY(-5px); /* Bouger de haut en bas */
    
}

.navbar .logo-git{
    display: block;
    position: absolute;
    top: 65px;
    right: 150px;
    width: 35px;
}

/*ici c'est tou ce qui concerne le bouton du menu*/
.navbar .menu-hamburger {
    display: block;
    position: absolute;
    top: 65px;
    right: 50px;
    width:35px;
    transition: transform 0.7s ease;
}




/* ici c'est ce qui faisait que quand c'était pour mobile ça changeait la navbar*/
/* logo café à gauche*/
.navbar .logo{
    position: absolute;
    top: 50px;
    left: 50px;
}

/*ici c'est le deucième "m"nu" d'affivher quand on appuie sur le petit menu*/
.nav-links {
    top: -1500%; /* Placer la fenêtre en dehors de la vue en haut */
    left: 0;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.521);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    transition: top 1.1s ease; /* Utiliser la propriété top pour l'animation */
}

.nav-links.active {
    top: 0; /* Déplacer la fenêtre vers le haut */
}
    .menu-hamburger.active {
        transform: rotate(180deg); /* Rotation de 90 degrés */
        transition: transform 0.5s ease;
    }

.nav-links.mobile-menu{
     margin-left: 0;

    }

.nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.5em;
    }

    .main-content {
        padding-top: 200px; /* ou toute autre valeur qui vous convient */
        display: flex;
        flex-direction: column; /* Modifier la direction en colonne */
        align-items: flex-start; /* Aligner les conteneurs à gauche */
        justify-content: flex-start; /* Aligner les conteneurs à gauche */
        width: 100%;
    }


    .container {
        width: 100%; /* Réduire la largeur des conteneurs */
        height: 70px; /* Ajuster la hauteur automatiquement */
        margin-bottom: 40px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #505050;
    }


   


    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        color: #fff;
        padding: 10px 20px;
        z-index: 100;
    }

    .flag-input-container {
        width: 100%; /* Ajustez la largeur au besoin */
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .flag-input {
        width: 80%; /* Ajustez la largeur au besoin */
        padding: 8px;
        font-size: 1rem;
        background-color: rgba(34, 34, 34, 0.521);
        border-radius: 90px;
        color: white;
    }
    .flag-input:hover{
        background-color: #fff;
        color: black;
    }

    .flag-input:focus {
        outline: none;
        box-shadow: 0 0 3px 0 #fff;
    }

    .epreuve-content {
        display: none; /* Contenu de l'épreuve est initialement caché */
    }
    
    .epreuve.open .epreuve-content {
        display: block; /* Afficher le contenu de l'épreuve lorsqu'il est ouvert */
    }
    
    .flag-submit-button {
        background-color: rgb(24, 24, 24); /* Couleur de fond du bouton */
        color: white; /* Couleur du texte */
        border: none; /* Supprimer la bordure */
        padding: 10px 20px; /* Ajouter un peu d'espacement intérieur */
        border-radius: 90px; /* Ajouter un peu de courbure aux coins */
        cursor: pointer; /* Curseur de la souris au survol */
    }
    
    .flag-submit-button:hover {
        background-color: rgba(34, 34, 34, 0.521); /* Changement de couleur au survol */
    }
    

    .error {
        border: 2px solid red;
    }
    #error-message {
        display: none;
    }
    .error-border {
        border: 2px solid red;
    }
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: rgb(44, 44, 44);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        opacity: 0; /* Rendre le popup initialement transparent */
        transition: opacity 0.5s ease;
    }
    .popup.open {
        opacity: 1; 
    }
    .popup-content {
        margin-bottom: 10px;
        color: white;
    }
    
    .popup-close {
        cursor: pointer;
        color: gray;
        float: right;
    }
    .popup a {
        color: white; /* Définir la couleur du texte des liens sur blanc */
        text-decoration: none;
        font-weight: bold; /* Supprimer la décoration par défaut des liens */
    }
    
    .popup a:hover {
        color: white; /* Définir la couleur du texte des liens survolés sur blanc */
    }
    .link-text {
        background: none;
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 1.1em;
    }

    .text h2 {
        font-size: 50100 ;
        color: #fff;
    }
    
    
    
    .image-container img {
        max-width: 100%;
        height: auto;
        margin: 10px;
        cursor: pointer;
    }
    
    .dialog-box {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    
    .dialog-box input, .dialog-box button {
        height:30px;
        margin-top: 10px;
    }
    
    .dialog-box button {
        padding: 20px;
        cursor: pointer;
    }
    
    #image-container { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; }

    #image {
        width: 80%;
        max-width: 400px;
        }

    
          
          #help-button {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
          }
          
          #help-button:hover #help-text {
            display: block;
          }
          
          #help-text {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          }