@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}


body {
    font-family: 'Lucida Sans Unicode';
    background-color: rgb(46, 46, 46);
    color: white;
}



.police1 {
    font-family: 'Playfair Display', serif;
    color: #f8f8f8;
    font-size: 100px;
    font-weight: bold;
    text-shadow: #ddd;
}
.navbar {
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

.rectangle {
    background-color: coral;
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 50px;
    text-align: center;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.question1 {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
    
}

.question2 {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.question3 {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.question4 {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}



label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 200px;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}