<!DOCTYPE html>
<html>
<head>
    <title>Épreuve 2</title>
</head>
<body>
    <h1>Épreuve 3</h1>
    <p>Adresse IP : {{ ip }}</p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/start_server",
                type: "GET",
                success: function(response) {
                    console.log(response);
                }
            });
        });
    </script>
</body>
</html>