<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Custom Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        .epreuve-content {
            display: none; /* Contenu de l'épreuve est initialement caché */
        }

        .epreuve-content.open {
            display: block; /* Afficher le contenu de l'épreuve lorsque la classe 'open' est présente */
        }
    </style>
</head>
<body>
    <nav class="navbar animation-on-load">
        <div class="nav-links">
            <ul>
                <li><form action="{{ url_for('index') }}" method="POST">
                    <input type="submit" value="Accueil" class="link-text" name="home-form">
                </form></li>               
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <img src="static/img/button.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
    <div class="titre1">Spy me</div>

    <p class="info"> <a href="https://codepen.io/DirkWeber/pen/eyxbmq" target="_top"></a> </p>

<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
   width="600px" height="100px" viewBox="0 0 600 100">
<style type="text/css">

<![CDATA[

  text {
    filter: url(#filter);
    fill: white;
      font-family: 'Share Tech Mono', sans-serif;
      font-size: 100px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        }
]]>
</style>
  <defs>

    <filter id="filter">
        <feFlood flood-color="black" result="black" />
        <feFlood flood-color="red" result="flood1" />
        <feFlood flood-color="limegreen" result="flood2" />
      <feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
      <feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
      <feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
      <feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
        <feComposite in="flood1" in2="off1a" operator="in"  result="comp1" />
        <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />

        <feMerge x="0" width="100%" result="merge1">
        <feMergeNode in = "black" />
        <feMergeNode in = "comp1" />
        <feMergeNode in = "off1b" />

        <animate 
          attributeName="y" 
            id = "y"
            dur ="4s"
            
            values = '104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px'

            keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

            repeatCount = "indefinite" />
 
        <animate attributeName="height" 
            id = "h" 
            dur ="4s"
            
            values = '10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px'

            keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

            repeatCount = "indefinite" />
        </feMerge>
      

      <feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
        <feMergeNode in = "black" />
        <feMergeNode in = "comp2" />
        <feMergeNode in = "off2b" />

        <animate attributeName="y" 
            id = "y"
            dur ="4s"
            values = '103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' 

            keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1'

            repeatCount = "indefinite" />
 
        <animate attributeName="height" 
            id = "h"
            dur = "4s"
          
          values = '0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px'

            keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1'
             
            repeatCount = "indefinite" />
        </feMerge>
      
      <feMerge>
        <feMergeNode in="SourceGraphic" />  

        <feMergeNode in="merge1" /> 
      <feMergeNode in="merge2" />

        </feMerge>
      </filter>

  </defs>

<g>
  <text x="0" y="100">Spy Me</text>
</g>
</svg>



    <div class="main-content">

        <div class="container" onclick="showPopup(`
            <h3>Explications de l'épreuve :</h3>
            <p>'J'ai découvert un site de vente de voitures frauduleux. En enquêtant un peu, j'ai découvert l'identité du coupable. Il s'avère qu'il travaille pour l'organisation que je suis en train de traquer. Il leur sert sûrement de porte-monnaie. Le mettre hors jeu leur mettrait des bâtons dans les roues.'</p></br>
            <p>Trouvez l'identité du coupable pour vous rapprocher un peu plus de votre ami disparu</p></br>
            <a href='/epreuve1'>Cliquez ici pour accéder à l'épreuve</a>
        `)">
            <h2>Epreuve 1</h2>
        </div>

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>' J'ai intercepté un message de ce groupe, chiffrés par une application qu'ils ont eux même crée, je n'ai donc pas réussi à l'ouvrir. Par chance j'ai pu retrouver leurs trace sur un réseau nommé git... quelque chose je ne me souviens plus très bien, j'ai trouvé cet utilisateur du nom de Robinsoncrusauee, ou dave le magicien, quelque chose comme ça...'</p></br>
                <p> Faites votre enquête pour décripter ce message, il pourrait vous donner de précieuse information sur la disparition de votre ami...</p></br>
                <a href ='/static/download/flag.notes'  download ='static\download\flag.notes' >flag.note</a>
                `)">
            <h2>Epreuve 2</h2>
        </div>

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>'Je suis sur le point de découvrir l'identité d'un des collaborateurs majeur de leurs organsiation, mais il se cache derriere un programme que je n'arrive pas à déchiffrer tout seul, j'ai toujours détésté les maths'</p></br>
                <p> Résolvez cette épreuve pour découvrir l'identité de l'un des ravisseurs</p></br>
                <a href = '/epreuve3'>Cliquez ici pour accéder à l'épreuve 3</a></br>
                </br><a href='/static/download/socketaide.py' download>Voici un programme socket pour vous aider à communiquer avec le serveur </a>
                `)">
            <h2>Epreuve 3</h2>
        </div>

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>Texte d'explication de l'épreuve...</p>
                `)">            
            <h2>Epreuve 4</h2>
        </div>
    </div>
<footer class="footer">
    <form action="{{ url_for('postflag') }}" method="POST">
        <input class="flag-input {% if flagpblm %}error{% endif %}" type="text" name="flag" placeholder="Enter flag here">
        <input type="submit" class="flag-submit-button" value="Valider">
        
        <p id="error-message" {% if flagpblm %}style="display: block;"{% endif %}>Flag incorrect</p>
    </form>
</footer>


     <script src="static/script.js"> 
       
     </script>
  



<!-- 
-maintenant je dois faire en sorte que les countainers de déroule 
- faire en sorte de rendre le bouton input du flag plus beau
-faire les pages pour les epruves, l'avancée de l'enquete et un formulaire pour mailer 
-je dois aussi faire des requetes flask pour le flag 
-je dois faire les trucs pour l'avancée de l'enquete 
-je dois trouver copmment héberger le site *




https://www.youtube.com/watch?v=FdA1P7dY_18 post et get flask à continuer la je vais dodo-->
</body>

</html>