<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Custom Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        .epreuve-content {
            display: none; /* Contenu de l'épreuve est initialement caché */
        }

        .epreuve-content.open {
            display: block; /* Afficher le contenu de l'épreuve lorsque la classe 'open' est présente */
        }
    </style>
</head>
<body>
    <nav class="navbar animation-on-load">
        <div class="nav-links">
            <ul>
                <li><form action="{{ url_for('index') }}" method="POST">
                    <input type="submit" value="Accueil" class="link-text" name="home-form">
                </form></li>               
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <img src="static/img/button.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
    <h1>Bienvenue</h1>
    <div class="main-content">

        <div class="container" onclick="showPopup(`
            <h3>Explications de l'épreuve :</h3>
            <p>'J'ai découvert un site de vente de voitures frauduleux. En enquêtant un peu, j'ai découvert l'identité du coupable. Il s'avère qu'il travaille pour l'organisation que je suis en train de traquer. Il leur sert sûrement de porte-monnaie. Le mettre hors jeu leur mettrait des bâtons dans les roues.'</p></br>
            <p>Trouvez l'identité du coupable pour vous rapprocher un peu plus de votre ami disparu</p></br>
            <a href='/epreuve1'>Cliquez ici pour accéder à l'épreuve</a>
        `)">
            <h2>Epreuve 1</h2>
        </div>

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>' J'ai intercepté un message de ce groupe, chiffrés par une application qu'ils ont eux même crée, je n'ai donc pas réussi à l'ouvrir. Par chance j'ai pu retrouver leurs trace sur un réseau nommé git... quelque chose je ne me souviens plus très bien, j'ai trouvé cet utilisateur du nom de Robinsoncrusauee, ou dave le magicien, quelque chose comme ça...'</p></br>
                <p> Faites votre enquête pour décripter ce message, il pourrait vous donner de précieuse information sur la disparition de votre ami...</p></br>
                <a href ='/static/download/flag.notes'  download ='static\download\flag.notes' >flag.note</a>
                `)">
            <h2>Epreuve 2</h2>
        </div>

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>'Je suis sur le point de découvrir l'identité d'un des collaborateurs majeur de leurs organsiation, mais il se cache derriere un programme que je n'arrive pas à déchiffrer tout seul, j'ai toujours détésté les maths'</p></br>
                <p> Résolvez cette épreuve pour découvrir l'identité de l'un des ravisseurs</p></br>
                <a href = '/epreuve3'>Cliquez ici pour accéder à l'épreuve 3</a></br>
                </br><a href='/static/download/socketaide.py' download>Voici un programme socket pour vous aider à communiquer avec le serveur </a>
                `)">
            <h2>Epreuve 3</h2>
        </div>

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>Votre ami Axel a réussi à prendre des photos du lieu ou il est tenu pisonier et vous a envoyé ces images en esperant que vous etes capable de le localiser. Identifiez le lieu ou ont été prises les image pour pouvoir lui venir en aide</p></br>
                <a href = '/epreuve4'> cliquez ici pour accéder à l'épreuve</a>
                `)">            
            <h2>Epreuve 4</h2>
        </div>
    

        <div class="container" onclick="showPopup(`
                <h3>Explications de l'épreuve :</h3>
                <p>Votre ami Axel avant de disparaitre vous a envoyé une image étrange. Cette image en noir et blanc semble cacher un message et il semblerait qu'en le dechifrant vous aurez le nom de l'organisation qui l'a enlevé.</p></br>
                <a href = '/epreuve5'> cliquez ici pour accéder à l'épreuve</a>
                `)">            
            <h2>Epreuve 5</h2>
        </div>

    </div>
<footer class="footer">
    <form action="{{ url_for('postflag') }}" method="POST">
        <input class="flag-input {% if flagpblm %}error{% endif %}" type="text" name="flag" placeholder="Enter flag here">
        <input type="submit" class="flag-submit-button" value="Valider">
        
        <p id="error-message" {% if flagpblm %}style="display: block;"{% endif %}>Flag incorrect</p>
    </form>
</footer>


     <script src="static/script.js"> 
       
     </script>
  



<!-- 
-maintenant je dois faire en sorte que les countainers de déroule 
- faire en sorte de rendre le bouton input du flag plus beau
-faire les pages pour les epruves, l'avancée de l'enquete et un formulaire pour mailer 
-je dois aussi faire des requetes flask pour le flag 
-je dois faire les trucs pour l'avancée de l'enquete 
-je dois trouver copmment héberger le site *




https://www.youtube.com/watch?v=FdA1P7dY_18 post et get flask à continuer la je vais dodo-->
</body>

</html>