<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Hamburger</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<nav class="navbar animation-on-load">
    <div class="nav-links">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <img src="static/img/button.png" alt="menu hamburger" class="menu-hamburger">
</nav>
<h1>Bienvenue</h1>
    <script src="static/script.js"></script>
</body>
</html>
